@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family:"Rubik", sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add these styles to your global CSS or create a specific CSS module for the Chat component */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message-sent,
.message-received {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  max-width: 60%;
}

.message-sent {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.message-received {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: black;
}

.message-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
.custom-border {
  position: relative;
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease-in-out;
}

.custom-border::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #facc15; /* Adjust this color to match the yellow color */
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out;
}

.custom-border:hover {
  border: 1px solid #000; /* Black border on hover */
}

.custom-border:hover::after {
  transform: scaleX(1);
}
 .bg-gradient-radial {
    background: radial-gradient(circle, #fcf5e1,white,white,white);
  }